@import 'tailwindcss';

:root {
	--green: #B9FF66;
	--dark: #191A23;
	--grey: #F3F3F3;
}

@theme inline {
	--color-primary: var(--green);
	--color-dark: var(--dark);
	--color-light: var(--grey);
	--height-header: 68px;
	--max-width-container: 1312px; /* 1280px + padding (32px) */
}

@layer components {
	.heading-1 {
		font-size: 3.75rem; /* 60px */
		font-weight: 500;
	}

	.heading-1-mobile {
		font-size: 2.688rem; /* 43px */
		font-weight: 500;
	}

	.heading-2 {
		font-size: 2.5rem; /* 40px */
		font-weight: 500;
	}

	.heading-2-mobile {
		font-size: 2.25rem; /* 36px */
		font-weight: 500;
	}

	.heading-3 {
		font-size: 1.875rem; /* 30px */
		font-weight: 500;
	}

	.heading-3-mobile {
		font-size: 1.625rem; /* 26px */
		font-weight: 500;
	}

	.heading-4 {
		font-size: 1.25rem; /* 20px */
		font-weight: 500;
	}

	.heading-4-mobile {
		font-size: 1.125rem; /* 18px */
		font-weight: 500;
	}

	.paragraph {
		font-size: 1.125rem; /* 18px */
		font-weight: 400;
	}

	.paragraph-mobile {
		font-size: 1rem; /* 16px */
		font-weight: 400;
		line-height: 1.5; /* 24px */
	}
}

body {
	background: #ffffff;
	color: #000000;
}
